.topNav{
    overflow: hidden;
    background-color: black;
    font-weight: bold;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 0.1vh solid white;
}
.topNav a{
    flex: 12px;
    float: left;
    margin: 14px;
    font-size: 17px;
}
a{
    color: white;
    width: 100%;
    text-decoration: none;
}
.navTag{
    float:left;
    text-align: center;
    width:25%;

}
a:hover{
    color: blueviolet;
}
#homebuttonpic{
    background-color: black;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
#picture{
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}
#homebutton{
    width: 40%;
    height: auto;
}
#Sprache{
    text-align: right;
}