footer {
    margin-top: 5%;
    margin-left: 30%;
    width: 40%;
    align-items: center;
}

#parent {
    display: flex;
    width: 90%;
    text-align: center;
}

#contactData {
    position: relative;
    margin-top: 10%;
    margin-left: 30%;
}

#impressum {
    position: center;
    text-align: center;
    margin-top: 10%;
    margin-left: 30%;

}

#applelink {
    position: relative;
    text-align: left;
    margin-top: 10%;
    margin-left: 30%;
}
