body{
    background-color: black;
    color:white;
}
.homeSitePic{
    width: 40%;
    margin-left:30%;
}
img{
    display: block;
    margin-left:auto;
    margin-right:auto;
}
.textHomePage{
    text-align: center;
    width:40%;
    margin-left: 30%;
}
#video{
    position: center;
}